@font-face {
  font-family: 'DiscordFont';
  src: url('asset/font/DiscordNord-Bold.woff2') format('woff2');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

img {
  max-width: 100%;
}

h1 {
  font-size: min(calc(.8rem + 3vw), 1.7rem);
}

h2 {
  font-size: min(calc(.4rem + 3vw), 1.2rem);
  word-spacing: .3rem;
}

h1,
h2 {
  font-family: 'DiscordFont', sans-serif;
  margin: 0;
}

h1,
header p {
  color: #eee;
}

p {
  font-size: .8rem;
}

header {
  background-image: url("asset/img/header.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 3rem 1rem;
  gap: 1rem;
  flex-direction: column;
}

header .actions {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

main {
  display: flex;
  flex-direction: column;

}

section {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  margin: 0;
}

section .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

section img {
  margin: auto;
  mix-blend-mode: multiply;
  min-width: 250px;
  max-width: 350px;
}

section:nth-child(odd) {
  background-color: #f2f2f2;
}

button {
  padding: .8rem;
  font-size: .7rem;
  border-radius: 1rem;
  border: none;
  width: 100%;
}

.btn-primary {
  background-color: #eee;
}

.btn-secondary {
  background-color: #333;
  color: #eee;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #333;
}

footer img {
  scale: .8;
}

@media screen and (min-width: 720px) {

  header {
    padding: 3rem 20%;
  }

  header h1,
  header p {
    text-align: center;
  }

  header .actions {
    flex-direction: row;
    justify-content: center;
  }

  p {
    font-size: min(calc(.2rem + 3vw), 1rem);;
  }

  button {
    width: fit-content;
  }

  section:nth-child(odd) {
    flex-direction: row-reverse;
  }

  section {
    padding: 1rem 10%;
    justify-content: center;
  }

  section:not(:last-of-type) {
    flex-wrap: nowrap;
  }

  section .content {
    align-content: center;
  }

  section img {
    min-width: 350px;
    max-width: 500px;
  }

  section:last-of-type {
    flex-wrap: wrap-reverse;
  }

  section:last-of-type .content {
    justify-content: center;
    text-align: center;
  }

  section:last-of-type img {
    max-width: 600px;
  }
}