@import url('global.css');

.dc-contact-address {
	display: flex;
	gap: 5rem;
	justify-content: space-between;
	align-items: center;
}

.dc-contact-address iframe {
	min-width: 300px;
	min-height: 300px;
}

.dc-contact h2 {
	margin-bottom: 1rem;
}

.dc-contact div:last-of-type h2{
	margin-top: 2rem;
}

.dc-contact p {
	margin-left: 1rem;
	margin-bottom: .5rem;
	display: flex;
	gap: .5rem;
	align-items: center;
	text-wrap: nowrap;
}


.dc-address {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
}

.dc-address p {
	align-self: flex-start;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	margin: 2rem 0;
}

form .field {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

form .actions {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

@media screen and (max-width: 700px) {
	
	.dc-contact {
		display: flex;
		flex: 1;
		gap: 2rem;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.dc-contact div:last-of-type h2{
		margin-top: 0;
	}

	.dc-contact-address {
		flex-wrap: wrap;
		gap: 2rem;
	}

	.dc-contact-address iframe {
		min-width: 200px;
	}
	
}